OPENAI_API_KEY=
LANGSMITH_API_KEY=
ANTHROPIC_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=
DATABASE_URL=postgresql://testa:1234@localhost:5432/test

# MinIO / S3 Config
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AWS_REGION=
MINIO_ENDPOINT_URL=
MINIO_BUCKET_NAME=
