# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so


# Virtual env
.venv/
venv/

# Env files
.env
.env.*

# Tool caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db



